html,body{ width: 100%; height: 100%; overflow: scroll;}
html::-webkit-scrollbar, body::-webkit-scrollbar{width:0px;height:0px;}
/*@font-face{*/
/*font-family: Alibaba-PuHuiTi-Regular;*/
/*src: url("alibaba/Alibaba-PuHuiTi-Regular.ttf");*/
/*}*/
body{
    font-family: PingFangSC-Regular,'Microsoft YaHei',BinancePlex,Arial,sans-serif!important;
    background: #12151c;
		color: #ffffff;
    margin: 0 auto;
   /* overflow-x: hidden;
    overflow-y: hidden; */
    font-size: 14px;
   
		height: 100%;
		position: relative;
		-webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
a{
	color:#ffffff;
}
.sub-bg{
	background: #1a212b;
}
.pd-l-r-30{
	padding-left:30px;
	padding-right:30px;
}
.pd-t-b-20{
	padding-top: 20px;
	padding-bottom: 20px;
}
.pd-b-30{
	padding-bottom: 30px;
}
/* 通用 Start*/
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clearfix{
    clear:both;
}
.mb-5{
	margin-bottom: 5px;
}
.mt-10{
    margin-top:10px;
}
.mt-15{
    margin-top:15px;
}
.mt-20{
    margin-top:20px;
}
.mt-30{
    margin-top: 30px;
}
.ml-10{
    margin-left:10px;
}
.mr-10{
    margin-right: 10px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
	font-size: 18px;
}
.font-size-28{
    font-size: 28px;
}
.center{
    text-align: center;
}
.position-r{
    position: relative;
}
/* 通用 End*/
.color-yellow{
    color:#eea80a;
}
.color-grey{
    color:#7c7c7c;
}
.color-white{
	color:#ffffff !important;
}
.color-green{
	color: #00b276;
}
.color-red{
	color:#ef5656;
}
.color-dark{
	color: #1a1a1a;
}
.bgf{
    background: #ffffff;
}
.boxs{
    padding-left:20px;
    padding-right: 20px;
    margin-bottom: 100px;
}
.boxs-radius{
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
}
.black-bg{
    background-image: url(../image/black_bg.png);
    background-size: 100%;
    height: 150px;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: -999;
}
.header{
    background: #1a212b;
    color:#ffffff;
    height: 60px;
    line-height: 58px;
    padding:0 30px;
}
.header a{
    color:#ffffff !important;
}
.logo{
    display: inline-block;
}
.nav-black{
    background: #0b0e11;
}
.header .btn-yellow{
    background: rgba(0,0,0,0);
    color:#eea80a;
    border: 1px solid #eea80a;
    height: 30px;
    line-height: 26px;
    padding: 0 22px;
    color:#eea80a !important;
}
.btn-xs-yellow{
    background:#eea80a;
    padding: 0 12px;
}
.btn-black{
    background: #0b0e11;
    padding:0 12px;
}
.btn-green{
    background: #03ad8f;
    color:#ffffff;
    padding:5px 10px;
    border-radius: 4px;
}
.layui-carousel,.layui-carousel>[carousel-item]>*,.layui-carousel>[carousel-item]{
	background: #0b0e11;
	border-radius: 8px;
}
.layui-carousel-ind ul{
	background: unset;
}
.layui-carousel-ind li{
	width: 30px;
	height: 4px;
	border-radius: 0;
}
.banner{
    top:20px;
    margin-bottom: 40px;
    height: 180px !important;
}
.banner-item img{
    width: 100%;
    height: 100%;  
		border-radius: 8px;
}
.sort{
    text-align: center;
    font-size: 0.75rem;
    margin-top:15px;
}
.sort-bg{
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin:auto;
}
.sort-bg img{
	width: 100%;
}
.title{
    height: 44px;
    line-height: 44px;
}
.ad img{
    width: 100%;
}
.ran-table{
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    background: #ffffff;
    padding:4px 0;
}
.ran-table .layui-table tr{
    border-top: 1px solid #eee;
}
.ran-table .layui-table thead tr{
    background: #ffffff;
    border-top:0;
}
.i-ran{
    margin-top:10px;
    margin-right: 10px;
}
/*个人中心*/
.user-avatar{
    padding: 0 15px;
}
.user-info{
    margin-top:10px;
}
.user-info p span{
    color:#eea80a;
    margin-right: 10px;
}
.user-info p span b{
    color:#ffffff;
    font-weight: 500;
}
.user-time{
    color:#7c7d7e;
    margin-top:10px;
}
.property-bg{
    background: #eea80a;
    padding-top:2px;
    border-radius: 6px;
    margin-top:25px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.property-bg .layui-tab{
    background: #ffffff;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    padding: 15px;
    padding-bottom: 60px;
}
.layui-tab-brief>.layui-tab-title .layui-this{
    color:#0b0e11;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom: 2px solid #eea80a;
}
.money-num{
    color:#eea80a;
    font-size: 28px;
    line-height: 60px;
}
.money-btn .layui-btn{
    width: 46%;
    float: left;
    border-radius: 4px;
    margin-top: 10px;
}
.enter-btn{
    background: #eea80a;
    color:#ffffff;
    margin-right: 2%;
}
.out-btn{
    background: #0b0e11;
    color:#ffffff;
}
.user-notice .btn-xs-yellow{
    margin-top:10px;
}
.user-notice-time{
    color:#7c7d7e;
    float:right;
}
/*理财产品*/
.slogan{
    padding:0 15px;
}
.slogan h1{
    color:#ffffff;
}
.slogan p{
    color:#7c7d7e;
    line-height: 30px;
}
.property-bg .property-box {
    background: #1b212b;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 15px;
    margin: 10px 0;
}
.property-header{
    border-bottom: 1px solid #e6e6e6;
    height: 70px;
    padding:0 15px;
}
.property-header div{
    width: 50%;
    float: left;
}
.property-header div p{
    line-height: 50px;
    font-size: 24px;
}
.property-body{
    padding:15px;
    height: 120px;
}
.property-body-l{
    width: 50%;
    float: left;
}
.property-body-l div p{
    font-size: 24px;
    line-height: 40px;
}
.property-body-r{
    float:right;
    margin-top:10px;
}
.property-body-r button{
    width: 100px;
    margin-bottom: 15px;
}
.i-h3{
    font-weight: bold;
    line-height: 40px;
}
/*列表&详情*/
.list-box h4{
    border-bottom: 1px solid#eeeeee;
    height: 40px;
    line-height: 40px;
}
.list-box h4:last-child{
    border-bottom: 0;
}
/*底部*/
.footer{
    background: #0c0d12;
    position:fixed;
    bottom:0;
    width: 100%;
    z-index: 999;
    text-align: center;
    height: 80px;
    box-shadow: #393939 10px 10px 30px 3px ;
}
.footer .tabs{
    width: 20%;
    float: left;
    padding-top:12px;
}
.footer .tabs img{
	width: 40px;
	height: 40px;
}
.footer .tabs p{
    margin-top: 2px;
    font-size: 13px;
		color: #e1e1e1;
}
.footer .active{color: #eea80a !important;}
/*弹出菜单*/
.dis-flex{display: flex !important;}
.dis-no{display: none !important;;}
.dis-blk{display: block !important;;}
.r-menu{
    /* box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: fixed;
    inset: 0px;
    z-index: 9999;
    flex-direction: row-reverse;
    display: flex; */
    height: 100%;
    display: none;
}
.r-menu-box{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    overflow: auto;
    height: 100%;
    transition: all 0.5s ease 0s;
    width: 240px;
    background-color: rgb(18, 22, 28);
    color:#ffffff;
}
.r-menu-header{
    padding:30px 15px;
    text-align: center;
    border-bottom: 1px solid #777;
}
.r-menu-header .enter-btn{
    color:#0b0e11;
    width: 100%;
    margin-top:10px;
}
.r-menu-body{
    padding:15px;
}
.menu-li{
    height: 56px;
}
/*登录注册*/
.login-box{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 60px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
}
.login-main{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 2px;
    padding-left: 8px;
    padding-right: 8px;
}
.login-header{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.5rem;
}
.login-item{
    margin-bottom: 20px;
}
.login-item input{
    border-radius: 4px;
    margin-top:10px;
		background: #12151c;
		border-color:#404040;
		color:#ffffff;
}
.login-btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #212833;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 32px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #eea80a;
    width: 100%;
    height: 40px;
}
.v-code input{
    width: 73%;
    float: left;
    margin-right: 2%;
}
.v-code button{
    width: 25%;
    margin-top: 10px;
    border-radius: 4px;
}
.login-footer{
    margin-top: 20px;
}
.login-footer,.login-footer a{
    font-size: 12px;
}
.i-forgot{
    text-decoration: underline;
}
.i-free{
    color: rgb(208, 152, 11);
}
.layui-form-radio{
    margin:0;
    padding-right: 0;
}
.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #eea80a;
}
/*切换语言*/
.down-menu{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    z-index: 1100;
    position: fixed;
    inset: 0px auto auto 0px;
    transform: translate3d(0px, 42px, 0px);
		 display: none;
		 text-align: center;
}
.down-menu-box{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100vw;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-color: #1e2126;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    /* display: none; */
}
.down-menu-box a{
    cursor: pointer;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 10px 20px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
}
.down-menu-box a.active{
    background: rgba(255,255,255,0.04);
    outline: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: rgb(240,185,11)
}
/* 2021-01-26 */
/*列表&详情*/
.i-notice{
    height: 36px;
    line-height: 36px;
    overflow: hidden;
}
.i-notice span{
    width: 70%;
}
.list-box h4{
    border-bottom: 1px solid#eeeeee;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.list-box h4:last-child{
    border-bottom: 0;
}
.list-box h4 a{
    width: 70%;
}
.details-header h2{
    line-height: 36px;
    padding:15px 0px;
    font-size: 18px;
    font-weight: bold;
}
.details-body{
    margin-top:15px;
    border-top:1px solid #0a0c10;
    border-bottom: 1px solid #0a0c10;
    padding:20px 0px;
}
.details-body img{
	width:100%;
}
.details-footer{
    text-align: right;
    margin-top:20px;
}
.a-module{
    margin-bottom: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
}
.a-module:last-child{
    border-bottom: 0;
}
.a-module .a-img{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}
.a-title h4{
    margin-bottom: 10px;
}
.a-check{
    text-align: right;
    margin-top:10px;
}
.a-check .btn-xs-yellow{
    padding:0 20px;
}
/* 2021-01-27 */
/* 产品下单*/
.dark-bg{
    background:#14151a;
}
.black-boxs{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 100px;
    color:#ffffff;
}
.black-boxs .layui-tab-brief>.layui-tab-title .layui-this{
    color:#ffffff;
}
.mr-30{
    margin-right: 30px;
}
.screen{
    height: 44px;
}
.goods-box{
    background: #1b212b;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 12px;
}
.goods-name{
    font-size: 16px;
    text-align: center;
    word-break: break-all;
    margin-top:32px;
}
.goods-center div{
    line-height: 20px;
}
.goods-right{
    text-align: right;
    margin-top:10px;
}
.goods-right .color-yellow{
    font-size: 18px;
}
.goods-btn-white{
    border-radius: 2px; 
    background: #ffffff;
    color:#0b0e11;
    padding: 0px 4px 0px 2px;
}
.goods-btn-green{
    border-radius: 2px; 
    background: #01b276;
    color:#ffffff;
    padding: 0px 2px;
}
.goods-btn-red{
    border-radius: 2px; 
    background: #ef5656;
    color:#ffffff;
    padding: 0px 2px;
}
.goods-btn-yellow{
    border-radius: 2px; 
    background: #eea80a;
    color:#0b0e11;
    padding: 0px 2px 0px 4px;
}
.hi-goods-name{
    font-size: 16px;
    height: 24px;
}
.h-24{
    height: 24px;
}
.h-16{
    height: 16px;
}
.plus-btn{
    background: #01b276;
    width: 75px;
    font-size: 18px;
}
.minus-btn{
    background: #ef5656;
    width: 75px;
    font-size: 18px;
}
.dark-boxs{
    margin-bottom: 100px;
    color: #ffffff;
}
.black-line{
    background-color: #0b0e11;
    height: 6px;
}
.k-top{
    padding:20px 15px;
}
.k-top .i-h4{
    font-size: 16px;
    font-weight:600;
    margin-right: 5px;
}
.k-top-price{
    font-size: 32px;
    color:#01b276;
    margin:10px 0;
}
.k-top p{
    height: 18px;
}
.i-x{
    padding-left:3px;
    padding-right: 3px;
    height:16px;
    line-height: 14px;
    font-size: 12px;
    font-weight:400;
    border:1px solid rgb(106, 76, 12);
    color:rgb(208, 152, 11);
    display: inline-block;
}
.k-center,.k-bottom{
    padding: 10px 15px;
}
.k-center .layui-tab-title,.k-bottom .layui-tab-title{
    border-color:rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.k-center .layui-tab-brief>.layui-tab-title li,.k-bottom .layui-tab-brief>.layui-tab-title li{
    color:rgb(146, 154, 165);
    padding: 0;
    margin-left:15px;
}
.k-center .layui-tab-brief>.layui-tab-title .layui-this,.k-bottom .layui-tab-brief>.layui-tab-title .layui-this {
    color: #ffffff;
}
.k-line-time{
    background: #2b2f36;
    border-radius: 4px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    margin-bottom:10px;
}
.k-line-time .active{
    background: #eea80a;
    color:#0b0e11;
}
.k-bottom .btn-xs-yellow{
    color:#0b0e11;
    margin-top: 10px;
}
.order-footer{
    background: #0c0d12;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    height: 42px;
    padding:20px 15px;
}
.order-footer .buy-btn,.order-footer .sell-btn{
    float: left;
    width: 45%;
}
.order-footer .buy-btn{
    background: #00b276;
    width: 45%;
}
.order-footer .sell-btn{
    background: #ef5656;
    width: 45%;
}
/*购买弹窗*/
#order-popup{
    display: none;
}
body .popup-box{
    background: #1f2227;
    color:#ffffff;
}
.order-popup-body{
    padding:15px 15px 20px 15px;
    font-size:0.75rem;
}
.o-top{
    background: #0e1013;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
}
.o-top a{
    width: 50%;
    color:#888a8f;
    display: inline-block;
    float: left;
}
.o-top a.o-buy-bg{
    background:#00b276;
    color:#ffffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.o-top a.o-sell-bg{
    background:#ef5656;
    color:#ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.o-time{
    background: #0e1013;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    color:#888a8f;
		overflow-x: auto;
		width: auto;
		display: flex;
}
.o-time .active{
    background: #eea80a;
    color:#0b0e11;
}
.o-time span{
		background: #0b0e11;
		color: #888a8f;
		text-align: center;
		padding: 0px 20px;
}
.black-input .layui-input{
    background: #0b0e11;
    color:#888a8f;
    border-radius: 4px;
    border-color:rgba(0,0,0,1);
    padding:0 10px;
}
.o-money{
    overflow-x: auto;
    width: auto;
    display: flex;
}
.o-money span{
    background: #0b0e11;
    color:#888a8f;
    text-align: center;
    border-radius: 4px;
    padding:12px 20px;
    margin-right: 10px;
}
.o-money span.active{
    background: #eea80a;
    color:#0b0e11;
}
.o-balance{
    border-top:1px solid #45474b;
    border-bottom:1px solid #45474b;
    color:#888a8f;
    padding:10px 0;
}
.o-infor{
    text-align: center;
}
.o-infor p{
    margin-bottom: 20px;
}
.o-btn .layui-btn{
    width: 100%;
}
/*充值提现*/
.dollar-i-h3{
    line-height: 40px;
    font-size: 16px;
}
.dollar-rate{
    height: 40px;
    line-height: 40px;
    /* border:1px solid #eea80a; */
    background: #12151c;
    border-radius: 4px;
    padding:5px 10px;
}
.rate-before{
    color:#eea80a;
    font-size: 25px;
}
.dollar-btn .layui-btn{
    width: 100%;
    background-color:#f9f9f9;
    color:#b5b5b5;
    border:1px solid #e6e8ea;
    border-radius: 4px;
}
.dollar-btn .layui-btn.active{
    background-color: #eea80a;
    color: #0b0e11;
    border:1px solid #eea80a;
}
.payment-box{
    /* border-top:1px solid #12151c;
    border-bottom:1px solid #12151c; */
    padding:10px 0;
}
.payment-tit{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.payment-btn{
    padding:15px 45px;
}
.payment-btn .layui-btn{
    width: 45%;
    border-radius: 4px;
    padding: 0;
}
.payment-btn .upi-btn{
    background: #eea80a;
    color:#0b0e11;
}
.payment-btn .usdt-btn{
    border-color:#eea80a;
    color:#eea80a;
}
.property-bg-green {
    background: #27a17c;
    padding-top: 2px;
    border-radius: 6px;
    margin-top: 25px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
.property-bg-green .layui-tab {
    background: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 15px;
    margin: 10px 0;
}
.property-bg-green .layui-tab .layui-tab-title li{
    font-size: 16px;
    font-weight: bold;
}
.property-bg-green .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom: 2px solid #27a17c;
}
.step-box{
    font-size:12px;
}
.step-color{
    color:#27a17c;
    font-weight: bold;
}
.step-1 .layui-input{
    color:#27a17c;
    font-size: 15px;
}
.step-2 .layui-input,.step-3 .layui-input{
    color:#eea80a;
}
.step-2{
    position: relative;
}
.step-2 .layui-btn{
    position: absolute;
    right:4px;
    top:4px;
    background: #eea80a;
    border-radius: 4px;
}
.all-btn{
    position: relative;
}
.all-btn .layui-input{
    border-color:#eea80a;
    color:#eea80a;
    border-radius: 4px;
}
.all-btn .layui-btn{
    position: absolute;
    right:4px;
    top:4px;
    background: #eea80a;
    border-radius: 4px;
}
.bank-btn .layui-input {
    width: 85%;
    float: left;
    border-color:#eea80a;
    border-radius: 4px;
    text-align: center;
}
.bank-btn input.i-add-bank{
    color:#cacaca;
    font-size: 0.7rem;
}
.bank-btn .yellow-span .layui-btn{
    width: 38px;
    background: #eea80a;
    border-radius: 4px;
    color:#ffffff;
    float: right;
    padding: 0 0 0 4px;
}
#add-bank-popup{
    display: none;
}
.bank-popup-body{
    padding:15px;
}
.bank-popup-body div h5{
    margin-top:10px;
}
.bank-popup-body .layui-input{
    color:#eea80a;
    border-radius: 4px;
    margin-top:10px;
}
/*分享*/
.share_register{
    position: fixed;
    bottom:100px;
    padding: 0 15px;
}
.share_register img{
    width: 100%;
}
.share_phone{
    position: fixed;
    right: 10px;
    top:50%;
}
.share-btn .layui-input{
    color:#c6c6c6;
}
.details-table .layui-table thead tr{
    background:#ffffff;
    color:#eea80a;
}
.details-table .layui-table td,.details-table .layui-table th{
    font-size: 12px;
    text-align: center;
}
.details-table .layui-table tbody tr{
    border-top: 1px solid #eee;
}
.level-span{
    background: #eea80a;
    color:#ffffff;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
}
.color-ca{
    color:#cacaca
}
.property-bg .details-tab .layui-tab {
    background: #ffffff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px;
    padding-bottom: 0px;
}
.details-tab .layui-tab-title{
    background: #1b212b;
    border: 1px solid #0c0d12;
    border-radius: 4px;
}
.details-tab .layui-tab-title .layui-this:after{
    border-color:rgba(255,255,255,0);
}
.details-tab .layui-tab-title li{
    width: 50%;
    padding: 0;
}
.details-tab .layui-tab-title .layui-this{
    background: #eea80a;
    color:#ffffff;
}
.right-line{
    position: absolute;
    top: 15px;
    left: 50%;
    height: 110px;
    border-right: 1px solid #dddddd;
}
.boxs-radius-pd{
    background: #1b212b;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    padding:15px 20px;
}
.myteam-head{
    position: absolute;
    left: 30%;
}
.myteam-body{
    margin-top:60px;
}
.myteam-body-btn{
    background: #f1c02f;
    color:#ffffff;
    border-radius: 4px;
}
.myteam-body-btn a{
    color:#ffffff;
}
.myteam-body-tit{
    background: #eea80a;
    height: 20px;
    line-height: 20px;
    border-top-left-radius:4px;
    border-top-right-radius: 4px;
    font-size: 12px;
}
.myteam-body-tit i{
    margin-right: 5px;
}
.myteam-body-num{
    height: 30px;
    line-height: 30px;
}
.structure-li{
    height: 40px;
    margin-bottom: 10px;
}
.structure-li-ico{
    background: #008aff;
    color: #ffffff;
    font-size: 16px;
    border-radius: 100%;
    float: left;
    height: 32px;
    line-height: 32px;
    width: 32px;
    text-align: center;
}
.structure-li-right{
    float: left;
    width: calc(100% - 32px);
    text-align: center;
		font-size: 13px;
}
.structure-li-right span{
    /* width: 50%; */
    display: inline-block;
    float: left;
    height: 32px;
    line-height: 32px;
		border-radius: 20px;
}
.level-bg-left{
    width: 45%;
		color: #737374;
}
.level-bg-right{
    background: #13161d;
    width: 55%;
}
.btn-right{
    text-align: right;
}
.btn-right .layui-btn{
    width: 75px;
}
.task-li{
    padding:15px 0;
}
.task-li-tit{
    margin-top:10px;
    text-align: center;
    word-break: break-all;
}
/*0201*/
/*小游戏*/
.game-bg{
	background: url(../image/game_bg.jpg) no-repeat;
	background-size:100% 100%;
	color: #ffffff;
	padding:60px 30px 30px 30px;
}
.game-tit{
	font-size: 24px;
	margin:30px 0;
	text-align: center;
}
.game_time{
	background: #FFD21C;
	color: #000000;
	padding: 4px 26px;
	border-radius:20px;
	font-size: 16px;
	font-weight: bold;
}
.game-rules fieldset{
	border-color: #FFD21C;
	border-radius: 4px;
}
.game-rules legend span{
	color: #ffd21c;
	padding: 0 10px;
}
.game-rules fieldset p{
	padding:0px 12px;
	color: #DEDEDE;
	line-height: 20px;
}
.game-rules-icon{
	position: absolute;
	right: 0;
	top:60%;
}
.game-rules-icon-a{
	position: absolute;
	right: 0;
	top:75%;
}
.game-cash{
	padding: 10px 50px;
}
.game-cash img{
	width: 100%;
}
.invite-tit{
	padding: 30px 30px 10px 30px;
	font-size: 18px;
	line-height: 26px;
}
.after_package{
	padding: 10px;
	position: relative;
}
.after_package img{
	width: 100%;
}
.after_package_num{
	position: absolute;
	color:#000000;
	font-size: 40px;
	top:40px;
	left:50px;
}
.not_buy_li{
		background: #ffffff;
		border-radius: 6px;
		box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
		padding:15px 10px;
		margin-bottom: 15px;
}
.not_buy_time{
	color:#f2be16;
	font-size: 26px;
}
.not_buy_p{
	font-size: 20px;
}
.not_buy_li .layui-btn{
	background: #42391d;
	width: 100%;
	margin-top:10px;
}
.opt-menu .layui-nav{
	 background-color: rgba(0,0,0,0);
}
.opt-menu .layui-nav .layui-this:after,.opt-menu .layui-nav-bar,.opt-menu .layui-nav-tree .layui-nav-itemed:after{
	  background-color: unset;
}
.opt-menu .layui-nav a{
	color:#ffffff;
}
.opt-menu .layui-nav-child{
		border: 1px solid #14151a;
		background-color: #14151a;
		top:36px;
}
.opt-menu .layui-nav .layui-nav-more{
    border-top-color: #eea80a;
		top:55%;
}
.opt-menu .layui-nav .layui-nav-mored,.opt-menu .layui-nav-itemed>a .layui-nav-more {
    border-color: transparent transparent #eea80a;
}
.u-item-boxs{
	padding:25px 10px;
}
.u-item-li p{
	line-height: 40px;
}

/*two*/
.all-box{
	margin-bottom: 80px;
}
.img{
	width: 100%;
}
.text-right{
	text-align: right;
}
.new-btn-yellow{
	background: #eea80a;
}
.new-btn-green{
	background: #00b276;
}
.new-btn-red{
	background: #ef5656;
}
.btn-blue{
	background: #008aff !important;
}
.recharge-ad{
	height: 100px;
}
.recharge-ad img{
	width: 100%;
	overflow: hidden;
	max-height: 90px;
	margin-top:10px;
}
.recharge-ad .text{
	margin-top: 40px;
}
.recharge-ad .text span{
	padding-left: 10px;
}
.recharge-ad .layui-btn{
	margin-top: 30px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 0;
}
.index-fund h3{
	border-bottom: 2px solid #12151c;
	padding:0 20px;
	height: 30px;
}
.index-fund h3 span{
	color: #00c580;
	border-bottom: 2px solid #00c580;
	padding:0px 4px 8px 4px;
}
.sub-bg .layui-progress{
	background:#13161d;
}
.full-btn .layui-btn{
	width: 100%;
}
.fund-header{
	border-bottom: 4px solid #12151c;
	padding-bottom: 30px;
}
.users-ico{
	width: 20px;
	height: 20px;
	vertical-align: bottom;
	margin-right: 6px;
}
.new-h3{
	border-bottom: 4px solid #12151c;
	height: 30px;
}
.held ul li{
	margin:20px 0;
}
.held-order-num{
	background: #008aff;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	line-height: 56px;
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	margin-top: 5px;
}
.held-order-data{
	margin-left: 66px;
}
.held-order-data .layui-btn{
	overflow: hidden;
	color:#12151c;
}
.held-order-data .new-btn-yellow{
	width: 42%;
}
.held-order-data .new-btn-green{
	width: 51%;
}
.layui-field-title{
	border-color:#eea80a;
}
.new-table .layui-table{
	background: unset;
	margin:0;
}
.new-table .layui-table tbody tr:hover,.new-table  .layui-table thead tr,
.new-table .layui-table-click,.new-table .layui-table-header,
.new-table .layui-table-hover,.new-table .layui-table-mend,
.new-table .layui-table-patch,.new-table .layui-table-tool,
.new-table .layui-table-total,.new-table .layui-table-total tr,
.new-table .layui-table[lay-even] tr:nth-child(even){
	background: #1b212b;
}
.new-form .layui-input{
	background: #12151c;
	border:0;
	color: #737374;
}
.new-form .layui-btn-right{
	position: absolute;
	right: 0;
	top: 0;
	background: #0a0c10;
    border-radius: 0px;
}
.layui-btn-right-m{
    top:-10px;
}
.new-form .big-num{
	position: absolute;
	left:100px;
	top:5px;
	color: #eea80a;
	font-size: 20px;
}
.half-btn .layui-btn{
	width: 47%;
}
.other-box .layui-col-xs4{
	margin-bottom: 30px;
}
.other-box img{
	width: 60px;
	height: 60px;
}
.other-box p{
	font-size: 12px;
	color: #7b7b7b;
	margin-top: 10px;
}
.border-bottom-0{
	border-bottom: 0;
}
.news li{
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
}
.news-ico{
	background: #008aff;
	color: #ffffff;
	font-size: 12px;
	border-radius: 100%;
	float: left;
	height: 20px;
	line-height:20px;
	width: 20px;
	text-align: center;
	margin-top:5px;
}
.news-title{
	margin:0 10px;
	width: 60%;
}
.hr-a{
	background: #1a212b;
}
.news-text{
	color: #cecece;
}
.user-ico{
	color:#eea80a;
	font-size: 22px !important;
	vertical-align: middle;
}
.ml-5{
	margin-left: 5px;
}
.input-num::-webkit-input-placeholder{
	color:#eea80a;
	font-size: 20px;
}
.a-flex {
	display: flex;
	flex-direction: row;
}
.a-flex-item {
	flex: 1;
}
.filter-form .layui-input{
	background: #0a0c10;
	border: 0;
	color: #7d7d7d;
}
.filter-form .layui-form-select dl{
	background: #0a0c10;
	border: 0;
	color: #7d7d7d;
}
.layui-form-select dl dd.layui-this{
	background-color: #008aff;
}
.record-list{
	border-bottom: 2px solid #0a0c10;
}
.record-list td{
	padding: 15px 2px;
}
.money-ico {
	background: #008aff;
	color: #ffffff;
	font-size: 20px;
	border-radius: 100%;
	float: left;
	height: 32px;
	line-height: 32px;
	width: 32px;
	text-align: center;
}
.state-ico img{
	width: 16px;
	height: 16px;
}

.web-site-box{
    z-index: 99;
    position: absolute;
    top: 10px;
    right: 10px;
}
/* .layui-layer{
	background-color: #1a212b;
} */
.layui-layer{
	color: #0E1013;
}
.new-dollar .layui-input{
	background-color: #12151c;
	border:0;
}
.new-list{
	border-bottom: 2px solid #0a0c10;
	padding: 10px 0;
}
.list-box-row{
	margin:10px 0;
}
.goods-list{
    max-height: 200px;
    overflow: hidden;
}
.pro-memu{
    display:none;
    height: 100%;
}
.product-box{
    padding:20px
}
.product-box li{line-height: 36px;}
.product-box a.active{
    color: #181b2a;
    background: #eea83f;
}
.trading-line-tit li{float:left;padding:5px;}
.trading-line-tit li.active{
    color: #181b2a;
    background: #eea83f;
}
#tv_chart_container {
    width: 100%;
    height: 50vh;
}

iframe {
width: 100%;
height: 100% !important;
}
.property-bg-new{
    background: #12151c;
    padding-top: 0;
    border-radius: 0;
    margin-top: 0;
}
.property-bg-new .layui-tab {
    background: #1a212b;
    padding: 15px 30px;
}
.property-bg-new .layui-tab-brief>.layui-tab-title .layui-this {
    color: #ffffff;
}
.property-bg-new .layui-tab-title{
    border-bottom-width: 0px;
}
.property-bg-new .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom: 0px solid #eea80a;
}
.property-bg-new .layui-tab-title li{
    padding: 0 0;
}
.property-bg-new .layui-bg-gray{
    height:0;
}
.ooo-sell-btn {
    background: #ef5656;
}
.ooo-buy-btn {
    background: #00b276;
}
.my-layer-box{
    background: #1a212b !important;
    color:#ffffff;
}
.my-layer-box .layui-tab-brief>.layui-tab-title .layui-this{
    color:#ffffff;
}
.new-flow-more .layui-flow-more{
    position: absolute;
    right: 30px;
    left: 30px;
    padding-bottom: 100px;
}
.new-flow-more .layui-flow-more a cite{
    background-color: #1f2227;
    color: #e6b31c;
    font-style: normal;
}
.line-h36{line-height: 36px;}

/* flex布局 */
.d-flex{ display: flex; }
.d-block{ display: block; }
.d-inline-block{ display: inline-block; }

.flex-1{ flex: 1; }
.flex-column{ flex-direction: column; }
.flex-row{ flex-direction: row; }
.flex-wrap{ flex-wrap: wrap; }
.flex-nowrap{ flex-wrap: nowrap; }
.flex-shrink{flex-shrink: 0;}
.j-start{ justify-content: flex-start; }
.j-center{ justify-content: center; }
.j-end{ justify-content: flex-end; }
.j-sb{ justify-content: space-between; }
.a-center{ align-items:center; }
.a-start{ align-items: flex-start; }
.a-end{ align-items:flex-end; }
.a-stretch{ align-items: stretch; }
.a-self-start{ align-self: flex-start; }
.a-self-auto{ align-self: auto; }
.a-self-end{ align-self: flex-end; }
.a-self-stretch{ align-self:stretch; }
.a-self-baseline{ align-self:baseline; }